$fa-font-path: "/fonts" !default;
$icon-font-path: '/fonts' !default;

$img-path: '/img' !default;

$text-base-color: #333;
$text-light-color: #34495e;
$text-anchor-active-color: #F9604C;
$text-anchor-base-color: #A7B3C2;

$white: #fff;
